ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

span{
	display: none;
	position:absolute;
    bottom:0;
    width: 360px;
	height: 231px;
	background-color: #eeeeee;
}


.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header{
	width: 1440px;
	height: 355px;
	background-image: url('img/grey_back-index.png');
	background-color: #eeeeee;
}

.header-container{
	width:1140px;
	max-width:1140px;
	margin-left:auto;
	margin-right:auto;
}

.main-navigation{
	display: flex;
	justify-content:space-between;
}

.main-header-logo img{
	margin-top: 49px;
}

.main-header-logo img:active{
	opacity: 0.2;

}

.site-navigation{
	margin-top: 83px;
	display: flex;
	justify-content:space-between;
	width: 438px;
}

.site-navigation li{
	display: inline-block;
	color: #000000;
	background-color: #eeeeee;
	font: inherit;
	line-height: 30px;
	text-transform: uppercase;
	margin-right: 46px; 
}

.site-navigation-item a{
	color: #000000;
	background-color: #eeeeee;
	font: inherit;
	line-height: 30px;
	text-transform: uppercase;		
}

.site-navigation li:hover {
	color: #fb565a;

}

.site-navigation li:active{
	opacity: 0.2;

}

.cart-link{

	margin-top: 83px;

	color: #000000;
	font: inherit;
	line-height: 30px;
	text-transform: uppercase;
}

.main-header h1{
	font: inherit;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}
.center-block{
	display: flex;
	justify-content: space-center;
}

.title h2{
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.button{
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	font-family: Roboto;
}

.works-container{

}

.works{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 760px;
	width: 760px;	
}

.work{
	position: relative;
	width: 360px;
	height: 576px;
	border: 1px solid rgba(0, 1, 1, 0.1); 

}

.work:hover .pop{
	display: block;
}

.big{
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.description{
	color: #666666;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}

.red{
	width: 200px;
	height: 50px;
	color: #ffffff;
	background-color: #fb565a;

}

.contacts{
	width: 1440px;
	height: 416px;
	background-image: url("img/background-map.jpeg");
}

.contacts{
	width: 1440px;
	height: 416px;
	background-image: url("img/background-map.jpeg");
}

.footer-adress{
	width: 319px;
	height: 308px;
	background-color: #ffffff;
	margin-left: 140px;
}

.footer-adress h4{
	font: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.main-footer{
	display: flex;
	justify-content: center;
}

.main-footer h2{
	font-size: 36px;
}

address {
	width: 200px;
	height: 71px;
	color: #666666;
	font: inherit;
	line-height: 18px;
}

.form{
	display: flex;
	justify-content: space-around;
}

.form-label{
	width: 108px;
	color: #000000;
	font-family: inherit;
	font-weight: 700;
}

.form-input{
	width: 360px;
	font: inherit;
	color: #666666;
}

.form-input:nth-child(3){
	height: 118px;
}

.social-networks{
	width: 260px;
}

.social-network{
	background-image: url('img/icon-vk.svg');
}

